<div class="container col-8 mx-auto">
    <% @tasks.each do |task| %>
      <%= link_to  [task.project, task] do %>
            <div class="card-product m-4 p-3">
              <h3><%= task.project.name.upcase %></h3>
              <div class="card-product-infos col-8 mx-auto ">
                <ul class="list-inline d-flex ">
                  <div class="row col-4">
                    <li class="list-inline-item text-center"><h2><%= task.name.upcase %></h2></li>
                    <li class="list-inline-item "><p>Tâche : <strong><%= task.description %></strong></p></li>
                  </div>
                  <div class="row col-4">
                    <li class="list-inline-item"><p> Etat : <%= task.status %></p></li>
                  </div>
                    <li class="list-inline-item"><p> Temps estimer : <%= task.estimate_time %> - hours</p></li>
                    <li class="list-inline-item text-center"><p> temps-Réel : <%= task.real_time %> - hours</p> </li>
                </ul>
              </div>
            </div>
      <% end %>
    <% end %>
     <div class="text-center">
        <h1>  - <%= @tasks.count %> - </h1>
      </div>
</div>
