<p>
<strong>Date de génération du PDF :</strong>
<%=  Time.now %>
</p>

<p><strong>Nom du projet: </strong><%= @project.name.capitalize %></p>
<p><strong>Start date : </strong><%= @project.start_date.strftime('%d-%m-%Y') %></p>
<p><strong>End date : </strong><%= @project.end_date.strftime('%d-%m-%Y') %></p>
<p><strong>Déscription: </strong><%= @project.description.capitalize %> </p>

<table>
    <tr>
      <th>Nom de la tâche</th>
      <th><strong>Déscription </strong></th>
      <th><strong>Temps estimé en heures</strong></th>
      <th>Equipier</th>
      <th><strong>Status </strong></th>
    </tr>

    <% @project.tasks.each do |task|%>

     <tr>
       <td><%= task.name.capitalize %></td>
       <td><%= task.description.capitalize %></th>
       <td><%= task.estimate_time %></th>

       <td>
         <% task.project.users.each do |user|%>
         <%end %>
         <%= task.user.first_name %>
       </th>

       <td><%= task.status %></td>

     </tr>
    <%end%>
</table>

<p>  Nombre de tâches: <%= @project.tasks.count %>  </p>
