<div class="container">
  <div class="row">
    <% @current_user_tasks.each do |user_task| %>
    <div class="container col-12 mx-auto">
            <div class="card-product m-4 p-3">
              <h3><%= user_task.project.name.upcase %></h3>
              <div class="card-product-infos col-8 mx-auto ">
                <ul class="list-inline d-flex ">
                  <div class="row col-4">
                    <li class="list-inline-item text-center"><h2><%= user_task.name.upcase %></h2></li>
                    <li class="list-inline-item "><p>Tâche : <strong><%= user_task.description %></strong></p></li>
                  </div>
                  <div class="row col-4">
                    <li class="list-inline-item"><p> Etat : <%= user_task.status %></p></li>
                  </div>
                    <li class="list-inline-item"><p> Temps estimer : <%= user_task.estimate_time %> - hours</p></li>
                    <li class="list-inline-item text-center"><p> temps-Réel : <%= user_task.real_time %> - hours</p> </li>
                </ul>
              </div>
            </div>
    </div>
    <% end %>
  </div>
</div>
