<div class="container col-6 mx-auto p-4">
	<div class="blog-card spring-fever">
    <div class="title-content">
        <h3><%= @task.name.upcase %></h3>
        <div class="intro">
          Description : <%= @task.description.upcase %>
        </div>
    </div>
      <div class="card-info">
        <p> Temps estimer : <%= @task.estimate_time %> hours </p>
        <%= link_to 'update it',edit_project_task_path(@task.project,@task)  %>
      </div>
    <div class="utility-info">
      <ul class="utility-list">
        <li><span class="licon icon-like"></span><%= @task.status %></li>
        <li><span class="licon icon-com"></span><%= @task.real_time %></li>
        <li><span class="licon icon-dat"></span><%= @task.created_at.strftime('créer a %m/%d/%Y')%></li>
        <li><span class="licon icon-tag"></span><%= @task.project.name %></li>
      </ul>
    </div>
  </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</div>
