<div class="container m-5" >
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 project-container">
      <div class =" ">
        <h3 class = "text-center h4"><%= @project.name.upcase %></h3>
        <div class ="description-card text-center">
          <p class = ""><strong>Déscription :</strong> <%= @project.description.capitalize %></p>
        </div>

        <div class ="text-center">
          <p><strong>Date de début : </strong><%= @project.start_date %></p>
          <p><strong>Date de fin: </strong><%= @project.end_date %></p>
          <p><strong>Durée en jours : </strong><%= @project.number_of_day %></p>
        </div>

        <% if current_user.admin%>
          <div class = "flexbox project mb-2">
              <div>
                <p class=" btn-show-project btn btn-primary btn-sm"><%= link_to "Éditer",
                edit_project_path(@project),
                data: { confirm: "êtes-vous sûr(e)?" } %></p>
              </div>

              <div>
                <p class="btn-show-project btn btn-primary btn-sm"><%= link_to "Ajouter tâches",
                new_project_task_path(@project),
                data: { confirm: "êtes-vous sûr(e)?" } %></p>
              </div>
          </div>
        <% end %>
        <div>
          <div class ="project-tasks">
            <ol>
              <p class = "pr-2"><strong>Tâches</strong></p>
              <% @project.tasks.each_with_index do |task, index|%>
                <li class = "">- <%= task.name.capitalize %></li>
              <%end%>
            </ol>
            <div class = "task-button mr-2">
              <p class="btn-show-project btn btn-primary btn-sm"><%= link_to 'Plus de détails',  project_tasks_path(@project)%></p>
            </div>
          </div>
        </div>
        <div>
          <ul class = "avatar-user">
            <% @project.users.uniq.each do |user| %>
              <%= image_tag user.avatar, class: "img_avatar" %>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
