<div class="container m-5" >
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 project-container">
      <%#  <div class ="image">
      <%#  <img src =<%= @project.user.avatar %> <%# width=200px height=200px border-radius=50% %>
      <%#  </div>%>
      <div class =" ">
        <h3 class = "text-center h4"><%= @project.name.upcase %></h3>
        <div class ="description-card text-center">
          <p class = ""><strong>Description :</strong> <%= @project.description.capitalize %></p>
        </div>
        <div class ="text-center">
          <p><strong>Start date : </strong><%= @project.start_date %></p>
          <p><strong>End date : </strong><%= @project.end_date %></p>
          <p><strong>Number of days : </strong><%= @project.number_of_day %></p>
        </div>
        <div class = "flexbox project mb-2">
          <div>
            <p class=" btn-show-project btn btn-primary btn-sm"><%= link_to "Update",
            edit_project_path(@project),
            data: { confirm: "Are you sure?" } %></p>
          </div>
           <div>
            <p class="btn-show-project btn btn-primary btn-sm"><%= link_to "Add tasks",
            new_project_task_path(@project),
            data: { confirm: "Are you sure?" } %></p>
          </div>
        </div>
        <div>
          <div class ="project-tasks">
            <ul>
              <p><strong>Tasks</strong></p>
              <% @project.tasks.each_with_index do |task, index|%>
                <li class = ""><%= task.name.capitalize %></li>
              <%end%>
            </ul>
            <div class = "task-button mr-2">
              <p class="btn-show-project btn btn-primary btn-sm"><%= link_to 'More details',  project_tasks_path(@project)%></p>
            </div>
          </div>
        </div>
        <div>
          <ul>
            <% @project.users.uniq.each do |user| %>
              <%= user.last_name %>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
